.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
}

.menu-button{
	height: 80px;
	width: 136px;
	border:none;
	background-color: transparent;

	color: #fff;
	text-transform: uppercase;

	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.btn-active {
	background-color: #1F1F1F;
}

.header-menu {
	display: flex;
}
.link {
	display: flex;
	align-items: center;
	height: 80px;
	width: 80px;
	justify-content: center;
}

.link a{
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	font-family: 'PT Sans';
	color: #fff;
	text-decoration: none;
}
@media (max-width: 426px) {
	.header-menu{
		display: none;
	}
}