.old-collection {
	display: flex;
	height: 600px;
	color: white;
}
.old-img-block {
	width: 880px;
	background-image: url(../img/old-collection-img.png);
	background-position: center;
	background-size: cover;
}
.old-catalog-descr {
	width: 1040px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.old-catalog-text {
	width: 471px;
	text-align: center;
	padding: 80px 0 73px 0;
	font-family: 'PT Sans';
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.old-caralog-title {
	font-family: 'Playfair Display';
	font-size: 36px;
	line-height: 42px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.old-caralog-title::after {
	content: '';
	border: none;
	width: 175px;
	height: 2px;
	background-color: #fff;
}
.old-catalog-btn {
	height: 47px;
	width: 311px;
	background-color: transparent;
	border: 2px solid white;
	font-family: 'PT Sans';
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	color: white;
	text-transform: uppercase;
}